set timeout=30
set timeout_style=menu
set default=0

menuentry "==>  Press ENTER (or wait) to boot ClaudeDOS  <==" {
    echo "Booting..."
    linux /boot/vmlinuz console=tty0
    initrd /boot/initramfs.img
}

menuentry "-------------------------------------------------------------" {
    true
}

menuentry "HOW TO BOOT: highlight the top entry above and press ENTER." {
    true
}

menuentry "It will also boot automatically after 30 seconds." {
    true
}
